<!--
/*
 * feelfoundation/gcc-explorer
 * Copyright © 2018 Feel Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Feel Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<div id="footer" role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-left col-xs-2">
				<a href="https://feel.surf" target="_blank" title="Feel Website" class="link website-link">
					<img src="../header/web-logo.png" style="height:31px;">
				</a>
			</div>
			<div class="col-right col-xs-10 social-networks">
				<span style="margin-right:20px;display:inline-block;" id="google_translate_element"></span>
				<span style="display:inline-block;">© 2020 GCC.feel.sarl. All Right Reserved</span>
			</div>
		</div>
	</div>
</div>